/* Slider */
.slider__conteiner {
  margin: 30px auto;
  max-width: 1110px;
}

@media (min-width: 320px) {
  .slider__conteiner {
    margin: 10px auto;
  }
}

@media (min-width: 1050px) {
  .slider__conteiner {
    margin: 30px auto;
  }
}

.slider__conteiner .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider__conteiner .slider .picture__conteiner {
  display: block;
  margin: auto;
  max-width: 970px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 30px auto 28px auto;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li.slick-active {
  background-color: #FFBD48;
}

.slick-dots li {
  text-indent: -9999px;
  white-space: nowrap;
  margin: 0 3px;
  height: 2px;
  width: 15px;
  opacity: 0.3;
  border: none;
  border-radius: 12px;
  background-color: #484848;
  -webkit-transition: background-color 9999999s .slick-dots li;
  transition: background-color 9999999s .slick-dots li;
}

.slick-dots li :hover, .slick-dots li:focus, .slick-dots li:active {
  background-color: #FFBD48;
  outline: none;
}

.slick-next {
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  background-image: url("/image/Styles/Arrow-Filled/16x16/Arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.25;
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  z-index: 1;
  cursor: pointer;
  outline: none;
}

.slick-next:hover {
  background-image: url("/image/Styles/Arrow_hover.svg");
}

.slick-prev {
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  background-image: url("/image/Styles/Arrow-Filled/16x16/Arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.25;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  z-index: 1;
  cursor: pointer;
  outline: none;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.slick-prev:hover {
  background-image: url("/image/Styles/Arrow_hover.svg");
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 158px;
  max-width: 470px;
}

@media (min-width: 320px) {
  .form {
    padding: 10px;
  }
}

@media (min-width: 1050px) {
  .form {
    padding: 0;
  }
}

.form .form-control {
  border: 1px solid #E9EBF0;
  border-radius: 6px;
  background-color: #FFFFFF;
  width: 100%;
}

.form .form-control::-webkit-input-placeholder {
  padding: 12px 14px;
}

.form .form-control:-ms-input-placeholder {
  padding: 12px 14px;
}

.form .form-control::-ms-input-placeholder {
  padding: 12px 14px;
}

.form .form-control::placeholder {
  padding: 12px 14px;
}

.form .name {
  margin: 0 16px 16px 0;
}

.form .email {
  margin: 0 16px 0 0;
}

.form .form__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 58px;
}

.form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form .form-group .message {
  margin-bottom: 16px;
  max-width: 230px;
}

.form .form-group button {
  border-radius: 6px;
  border: none;
  background-color: #FFBD48;
  width: 100%;
  height: 42px;
  color: #FFFFFF;
  font-family: Times;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.89px;
  line-height: 24px;
  text-align: center;
}

.form .form-group button:hover, .form .form-group button:active {
  background-color: #ffa507;
}

.spinner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  z-index: 102;
  height: 14px;
  width: 18px;
  margin: 38px 20px;
}

@media (min-width: 320px) {
  .spinner {
    display: block;
  }
}

@media (min-width: 1050px) {
  .spinner {
    display: none;
  }
}

.spinner .spinner-line {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  height: 2px;
  width: 35px;
  background-color: #383636;
}

.spinner .horizontal {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.spinner .diagonal.part-1 {
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
}

.spinner .diagonal.part-2 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.spinner .spinner-line.active.horizontal {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  margin-top: 0;
}

.spinner .spinner-line.active.diagonal.part-1 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-top: 6px;
}

.spinner .spinner-line.active.diagonal.part-2 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-top: -4px;
}

.burger__menu {
  display: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  overflow: auto;
  z-index: 101;
  position: absolute;
  background-color: rgba(71, 72, 73, 0.93);
  width: 250px;
  height: 100%;
  top: 0;
  right: 0;
  margin: auto;
}

.burger__menu h4 {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.burger__menu .site-navigation {
  -webkit-transition: 0s;
  transition: 0s;
  margin-top: 130px;
  margin-left: 40px;
}

.burger__menu .site-navigation a {
  color: #383636;
  text-decoration: none;
}

.burger__menu .site-navigation .burger__buttons {
  margin-bottom: 20px;
}

.burger__menu img {
  max-width: 200px;
  padding: 30px;
}

@font-face {
  font-family: 'Bodoni';
  src: url("/fonts/ofont.ru_Bodoni.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.visually-hidden:not(focus):not(active) {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

html textarea, html input {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.62px;
  line-height: 18px;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

header {
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
}

header .header__conteiner {
  max-width: 970px;
  height: 90px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 320px) {
  header .header__conteiner {
    padding: 0 20px;
  }
}

@media (min-width: 1050px) {
  header .header__conteiner {
    padding: 0;
  }
}

header .header__conteiner .logo {
  margin: auto 0;
}

header .header__conteiner .navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 320px) {
  header .header__conteiner .navigation__list {
    display: none;
  }
}

@media (min-width: 1050px) {
  header .header__conteiner .navigation__list {
    display: block;
  }
}

header .header__conteiner .navigation__list li {
  margin: auto;
  margin-left: 24px;
}

header .header__conteiner .navigation__list li a {
  text-decoration: none;
  color: #000000;
  font-family: Bodoni;
  font-size: 18px;
  line-height: 20px;
}

header .header__conteiner .navigation__list li a:hover, header .header__conteiner .navigation__list li a:focus {
  color: #FFBD48;
}

header .header__conteiner .navigation__list li #Home:hover {
  fill: #FFBD48;
}

.text__conteiner {
  max-width: 970px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 320px) {
  .text__conteiner {
    padding: 10px;
  }
}

@media (min-width: 1050px) {
  .text__conteiner {
    padding: 0;
  }
}

.text__conteiner .main__text--left,
.text__conteiner .main__text--right {
  max-width: 470px;
  font-family: 'Bodoni';
}

@media (min-width: 414px) {
  .text__conteiner .main__text--left,
  .text__conteiner .main__text--right {
    margin-bottom: 25px;
  }
}

@media (min-width: 1050px) {
  .text__conteiner .main__text--left,
  .text__conteiner .main__text--right {
    margin-bottom: 50px;
  }
}

.text__conteiner .main__text--left p:nth-last-child(1),
.text__conteiner .main__text--right p:nth-last-child(1) {
  margin-bottom: 0;
}

@media (min-width: 320px) {
  .text__conteiner .main__text--left,
  .text__conteiner .main__text--right {
    font-size: 16px;
    line-height: 16px;
    text-align: justify;
  }
}

@media (min-width: 1050px) {
  .text__conteiner .main__text--left,
  .text__conteiner .main__text--right {
    font-size: 18px;
    line-height: 20px;
    text-align: inherit;
  }
}

.text__conteiner .main__text--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 202px;
  width: 100%;
  border-radius: 12px;
  background-color: #FFFEFC;
  -webkit-box-shadow: 0 6px 24px 0 rgba(54, 53, 41, 0.16);
          box-shadow: 0 6px 24px 0 rgba(54, 53, 41, 0.16);
}

@media (min-width: 414px) {
  .text__conteiner .main__text--center {
    margin-bottom: 10px;
  }
}

@media (min-width: 1050px) {
  .text__conteiner .main__text--center {
    margin-bottom: 80px;
  }
}

.text__conteiner .main__text--center .center__conteiner {
  margin: auto;
  max-width: 470px;
  position: relative;
}

@media (min-width: 414px) {
  .text__conteiner .main__text--center .center__conteiner {
    max-width: 250px;
  }
}

@media (min-width: 1050px) {
  .text__conteiner .main__text--center .center__conteiner {
    max-width: 470px;
  }
}

.text__conteiner .main__text--center .center__conteiner::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: transparent;
  background-image: url(/image/Styles/quotes_close.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 414px) {
  .text__conteiner .main__text--center .center__conteiner::after {
    right: -32px;
    height: 21px;
    width: 26px;
  }
}

@media (min-width: 1050px) {
  .text__conteiner .main__text--center .center__conteiner::after {
    right: -63px;
    height: 42px;
    width: 53px;
  }
}

.text__conteiner .main__text--center .center__conteiner::before {
  content: "";
  position: absolute;
  height: 42px;
  width: 53px;
  background-color: transparent;
  background-image: url(/image/Styles/quotes_open.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 414px) {
  .text__conteiner .main__text--center .center__conteiner::before {
    left: -32px;
    height: 21px;
    width: 26px;
  }
}

@media (min-width: 1050px) {
  .text__conteiner .main__text--center .center__conteiner::before {
    left: -63px;
    height: 42px;
    width: 53px;
  }
}

.text__conteiner .main__text--center .center__conteiner p {
  font-family: Times;
  font-size: 24px;
  font-style: italic;
  line-height: 29px;
}

@media (min-width: 414px) {
  .text__conteiner .main__text--center .center__conteiner p {
    font-size: 18px;
    line-height: 20px;
  }
}

@media (min-width: 1050px) {
  .text__conteiner .main__text--center .center__conteiner p {
    font-size: 24px;
    line-height: 29px;
  }
}

.text__conteiner .text__icon {
  float: left;
  margin: 0 30px 0px 0;
}

.text__conteiner .text__icon img {
  max-height: 138px;
}

.main-footer {
  background-color: #484848;
}

.main-footer .main-footer-conteiner {
  max-width: 1170px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 320px) {
  .main-footer .main-footer-conteiner {
    padding: 10px 0;
  }
}

@media (min-width: 414px) {
  .main-footer .main-footer-conteiner {
    height: 100%;
  }
}

@media (min-width: 1050px) {
  .main-footer .main-footer-conteiner {
    height: 159px;
    padding: 40px 0;
  }
}

.main-footer .main-footer-conteiner .footer__logo {
  max-width: 270px;
  height: 150px;
  position: relative;
}

@media (min-width: 320px) {
  .main-footer .main-footer-conteiner .footer__logo {
    margin: auto;
  }
}

.main-footer .main-footer-conteiner .footer__logo img {
  position: absolute;
  right: 35px;
}

.main-footer .main-footer-conteiner .footer__logo .bacground__block {
  height: 72px;
  width: 270px;
  margin-top: 85px;
  border-radius: 12px;
  background-color: #FFFEFC;
  -webkit-box-shadow: 0 6px 24px 0 rgba(54, 53, 41, 0.16);
          box-shadow: 0 6px 24px 0 rgba(54, 53, 41, 0.16);
}

.main-footer .main-footer-conteiner .footer__navigation {
  margin-left: 30px;
}

@media (min-width: 320px) {
  .main-footer .main-footer-conteiner .footer__navigation {
    margin-bottom: 20px;
  }
}

.main-footer .main-footer-conteiner .footer__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  max-height: 190px;
  margin: 0;
  padding: 0;
}

@media (min-width: 320px) {
  .main-footer .main-footer-conteiner .footer__navigation ul {
    min-width: 290px;
  }
}

@media (min-width: 414px) {
  .main-footer .main-footer-conteiner .footer__navigation ul {
    min-width: 370px;
  }
}

@media (min-width: 1050px) {
  .main-footer .main-footer-conteiner .footer__navigation ul {
    min-width: 400px;
  }
}

.main-footer .main-footer-conteiner .footer__navigation ul li {
  display: block;
  margin-right: 50px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  padding-top: 30px;
}

.main-footer .main-footer-conteiner .footer__navigation ul li a {
  font-family: Bodoni;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 20px;
  text-decoration: none;
  color: #FFF;
}

.main-footer .main-footer-conteiner .footer__navigation ul li a:hover, .main-footer .main-footer-conteiner .footer__navigation ul li a:focus {
  color: #FFBD48;
}

.main-footer .all_rights_reserved {
  background-color: #383636;
  height: 35px;
}

.main-footer .all_rights_reserved p {
  opacity: 0.5;
  color: #FFFFFF;
  font-family: Times;
  font-size: 12px;
  letter-spacing: 0.86px;
  line-height: 35px;
  text-align: center;
}
/*# sourceMappingURL=all.css.map */