.form {
    display: flex;
    max-width: 470px;

    @media (min-width: 320px) {
        padding: 10px;
        flex-wrap: wrap;
    }
    @media (min-width: 414px) {
        // max-height: 158px;
        // flex-wrap: nowrap;
    }
    @media (min-width: 1050px){
        padding: 0;
    }

    .form__conteiner{
        display: flex;
        flex-wrap: wrap; 
        margin: auto;
        width: -webkit-fill-available;
        @media (min-width: 320px) {
            margin-bottom: 16px;
        }
        @media (min-width: 414px) {
            // margin-bottom: 58px;
        }
        @media (min-width: 1050px){
        }

        .name{
            height: 42px;
            font-weight: 800;
            @media (min-width: 320px) {
                margin-bottom: 16px;
            }
            @media (min-width: 413px) {
                // margin: 0 16px 16px 0;
            }
            @media (min-width: 1050px){
                margin: 0 16px 16px 0;
            }
        }
    
        .email{
            height: 42px;
            font-weight: 800;
            @media (min-width: 320px) {
            }
            @media (min-width: 413px) {
                // margin: 0 16px 0 0;
            }
            @media (min-width: 1050px){
                margin: 0 16px 0 0;
            }
            
        }
    }
    // input's
    .form-control{ 

        border: 1px solid #E9EBF0;	
        border-radius: 6px;	
        background-color: #FFFFFF;
        width: 100%;
        font-style: normal;

        @media (min-width: 320px) {
            padding: 5px 10px;
        }
        @media (min-width: 414px) {
        }
        @media (min-width: 1050px){
            padding: 12px 14px;
        }
        &::placeholder{
            font-style: italic;
            @media (min-width: 320px) {
                padding: 5px 10px;
            }
            @media (min-width: 414px) {

            }
            @media (min-width: 1050px){
                padding: 12px 14px;
            }
        }
        
    }

    .form-group{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: -webkit-fill-available;
        @media (min-width: 374px) {
            // width: 296px;
        }
        @media (min-width: 414px) {
            // width: auto;
        }
        @media (min-width: 1050px){

        }

        .message{
            font-weight: 800;
            margin-bottom: 16px;
            @media (min-width: 320px) {
                // width: 100%;
            }
            @media (min-width: 414px) {
                // max-width: 230px;
            }
            @media (min-width: 1050px){

            }
        }

        button{
            border-radius: 6px;	
            border: none;
            background-color: #FFBD48;
            width: 100%;
            height: 42px;	

            color: #FFFFFF;

            font-family: Times;	
            font-size: 20px;	
            font-weight: bold;	
            letter-spacing: 0.89px;	
            line-height: 24px;	
            text-align: center;

            &:hover,
            &:active{
                background-color: #ffa507;
            }
        }
    }
}

