.form {
    display: flex;
    max-width: 470px;

    @media (min-width: 320px) {
        padding: 10px;
        flex-wrap: wrap;
        margin: auto;
    }
    @media (min-width: 414px) {
        // max-height: 158px;
        // flex-wrap: nowrap;
    }
    @media (min-width: 1024px){
        padding: 0;
        flex-wrap: nowrap;
        margin: initial;
    }
    @media (min-width: 1366px){
        max-height: 158px;
    }
    .form__conteiner{
        display: flex;
        flex-wrap: wrap; 
        margin: auto;
        width: -webkit-fill-available;
        @media (min-width: 320px) {
            margin-bottom: 16px;
        }
        @media (min-width: 1024px){
            margin-top: 0;
            margin-bottom: auto;
        }

        .name{  
            font-weight: 800;
            @media (min-width: 320px) {
                margin-bottom: 16px;
                height: 42px;
            }
            @media (min-width: 1024px){
                margin: 0 16px 16px 0;
                height: 21px;
            }
            @media (min-width: 1366px){
                height: 42px;
                box-sizing: border-box;
            }
        }
    
        .email{
            font-weight: 800;
            @media (min-width: 320px) {
                height: 42px;
            }
            @media (min-width: 1024px){
                margin: 0 16px 0 0;
                height: 21px;
            }
            @media (min-width: 1366px){
                height: 42px;
                box-sizing: border-box;
            }
            
        }
    }
    // input's
    .form-control{ 

        border: 1px solid #E9EBF0;	
        border-radius: 6px;	
        background-color: #FFFFFF;
        width: 100%;
        font-style: normal;

        @media (min-width: 320px) {
            padding: 5px 10px;
        }
        @media (min-width: 414px) {
        }
        @media (min-width: 1024px){
            padding: 12px 14px;
        }
        &::placeholder{
            font-style: italic;
            @media (min-width: 320px) {
                padding: 5px 10px;
            }
            @media (min-width: 414px) {

            }
            @media (min-width: 1024px){
                padding: 12px 14px;
            }
        }
        
    }

    .form-group{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: -webkit-fill-available;
        @media (min-width: 374px) {
            margin: auto;
        }
        @media (min-width: 1366px){
            margin: initial;
        }

        .message{
            
            box-sizing: border-box;
            font-weight: 800;
            margin-bottom: 16px;
            @media (min-width: 320px) {
                // width: 100%;
            }
            @media (min-width: 414px) {
                // max-width: 230px;
            }
            @media (min-width: 1366px){
                max-width: 270px;
                padding: 0;

            }
        }

        button{
            border-radius: 6px;	
            border: none;
            background-color: #FFBD48;
            width: 100%;
            height: 42px;	
            color: #FFFFFF;
            font-family: Times;	
            font-size: 20px;	
            font-weight: bold;	
            letter-spacing: 0.89px;	
            line-height: 24px;	
            text-align: center;

            @media (min-width: 1366px){
            width: 270px;
            box-sizing: border-box;
            }

            &:hover,
            &:active{
                background-color: #ffa507;
            }
        }
    }
}

