/* Slider */

.slider__conteiner {
    margin: 30px auto ;
    max-width: 1110px;

    @media (min-width: 320px) {
        margin: 10px auto ;
    }
    @media (min-width: 414px) {
    }
    @media (min-width: 1050px){
        margin: 30px auto ;
    }

    .slider{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .picture__conteiner{
            display: block;
            margin: auto;
            max-width: 970px;
            box-shadow: 0 2px 12px 0 rgba(0,0,0,0.08);
        }
    }
}

.slick-dots {
    display: flex;
    width: 100%;

    margin: 30px auto 28px auto;
    padding: 0;
    justify-content: center;

        li.slick-active{
            background-color: #FFBD48;  
        }   

        li{
        text-indent: -9999px;
        white-space: nowrap;

        margin: 0 3px;

        height: 2px;	
        width: 15px;	
        opacity: 0.3;	
        border: none;
        border-radius: 12px;
        background-color: #484848;
        transition: background-color 9999999s

        &:hover,
        &:focus,
        &:active{
            background-color: #FFBD48; 
            outline:none;
        }
    }
    
}


.slick-next{
    width: 20px;
    height: 20px;
    border: none;
    background: transparent;
    background-image: url("../image/Styles/Arrow-Filled/16x16/Arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.25;
    background-color: transparent;

    position: absolute;
    top: 50%;
    right: 0;

    display: block;
    z-index: 1;

    cursor: pointer;
    outline: none;

    &:hover{ 
        background-image: url("../image/Styles/Arrow_hover.svg");
        }
}
  
.slick-prev{
    width: 20px;
    height: 20px;
    border: none;
    background: transparent;
    background-image: url("../image/Styles/Arrow-Filled/16x16/Arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.25;
    background-color: transparent;

    position: absolute;
    top: 50%;
    left: 0;

    display: block;
    z-index: 1;


    cursor: pointer;
    outline: none;
    transform: scale(-1, 1);

    &:hover{ 
        background-image: url("../image/Styles/Arrow_hover.svg");
        }
}




.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus
{
    outline: none;
}

.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
