@import "slick";
@import "form";
@import "spiner";
@import "_FloatLabel";

@font-face{
    font-family: 'Bodoni';
    src: 
    url('/fonts/ofont.ru_Bodoni.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

.visually-hidden:not(focus):not(active){
	position: absolute;

	width: 1px;
	height: 1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);	
	clip: rect(0 0 0 0);
	overflow: hidden;
}

html{
    font-family: "Times New Roman", Times, serif; 
    font-size: 18px;

    textarea,input  {	
        font-family: "Times New Roman", Times, serif; 
        font-size: 14px;	
        font-style: italic;	
        letter-spacing: 0.62px;	
        line-height: 18px;
    }
}


body{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}
// ---------------------------- HEADER
header{
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.08);
    .header__conteiner{
        max-width: 970px;
        height: 90px;
        margin: auto;
        display: flex;
        justify-content: space-between;

        @media (min-width: 320px) {
            padding: 0 20px;
        }
        @media (min-width: 1050px){
            padding: 0;
        }

        .logo{
            margin: auto 0;
        }

        .navigation__list{
            justify-content: space-between;

            @media (min-width: 320px) {
                display: none;
            }
            @media (min-width: 1366px){
                    display: flex;
            }

            li{
                margin: auto;
                margin-left: 24px;
                a{
                    text-decoration: none;
                    color: #000000;	
                    font-family: Bodoni;	
                    font-size: 18px;	
                    line-height: 20px;

                    &:hover,
                    &:focus{
                        color: #FFBD48;
                    }
                }
                .Home:hover{
                    fill: #FFBD48;
                }
            }
        }
    }
}

// ---------------------------- TEXT BLOCK
.text__conteiner{   
    max-width: 970px;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (min-width: 320px) {
        padding: 10px;
    }
    @media (min-width: 1050px){
        padding: 0;
    }

    .main__text--left,
    .main__text--right{
        max-width: 470px;
        font-family: 'Bodoni';
        @media (min-width: 320px) {
            margin: auto;
            margin-bottom: 25px;  
            font-size: 14px;
            text-align: justify;    
        }
        @media (min-width: 414px) {
            font-size: 16px;
            line-height: 16px;
        }
        @media (min-width: 1024px){
            font-size: 18px;
            line-height: 20px;
            text-align: inherit;
            margin: initial;
            margin-bottom: 50px;
        }
        p:nth-last-child(1){
            margin-bottom: 0;
        }
    }

    .main__text--center {	
        display: flex;
        min-height: 202px;	
        width: 100%;	
        border-radius: 12px;	
        background-color: #FFFEFC;	
        box-shadow: 0 6px 24px 0 rgba(54,53,41,0.16);
        
        @media (min-width: 414px) {
            margin-bottom: 10px;
        }
        @media (min-width: 1050px){
            margin-bottom: 80px;
        }

        .center__conteiner{
            margin: auto;
            position: relative;
            // text-align: center;

            @media (min-width: 320px) {
                max-width: 220px;
            }
            @media (min-width: 414px) {
                max-width: 250px;
            }
            @media (min-width: 568px) {
                max-width: 350px;
            }
            @media (min-width: 736px){
                max-width: 470px;
            }

            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                	
                background-color: transparent;
                background-image: url(../image/Styles/quotes_close.svg);
                background-size: contain;
                background-repeat: no-repeat;
                @media (min-width: 320px) {
                    right: -16px;
                    height: 16px;	
                    width: 21px;
                }
                @media (min-width: 414px) {
                    right: -32px;
                    height: 21px;	
                    width: 26px;
                }
                @media (min-width: 736px){
                    right: -63px;
                    height: 42px;	
                    width: 53px;
                }
            }

            &::before{
                content: "";
                position: absolute;
                height: 42px;	
                width: 53px;	
                background-color: transparent;
                background-image: url(../image/Styles/quotes_open.svg);
                background-size: contain;
                background-repeat: no-repeat;
                @media (min-width: 320px) {
                    left: -16px;
                    height: 16px;	
                    width: 21px;
                }
                @media (min-width: 414px) {
                    left: -32px;
                    height: 21px;	
                    width: 26px;
                }
                @media (min-width: 736px){
                    left: -63px;
                    height: 42px;	
                    width: 53px;
                }
            }
            
            p{
            font-family: Times;	
            font-size: 24px;	
            font-style: italic;	
            line-height: 29px;

                @media (min-width: 320px) {
                    font-size: 16px;	
                    line-height: 18px;
                }
                @media (min-width: 414px) {
                    font-size: 18px;	
                    line-height: 20px;
                }
                @media (min-width: 736px){
                    font-size: 24px;	
                    line-height: 29px;
                }
            } 
        }   
    }

    .text__icon{
        float: left;
        @media (min-width: 320px) {
            margin: 0 15px 10px 0;   
        }
        @media (min-width: 1050px){
            margin: 0 30px 0px 0;
        }
            img{
                max-height: 138px;
            }
    }
}

// ---------------------------- FOOTER
.main-footer{
    background-color: #484848;
    
    .main-footer-conteiner{
        max-width: 1170px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;

        @media (min-width: 320px) {
            padding: 30px 15px;
        }
        @media (min-width: 414px) {
            height: 100%;
        }
        @media (min-width: 1366px){
            height: 159px;
            padding: 40px 0;
        }
        .footer-conteiner{
            margin: auto;
            flex-wrap: wrap;
            display: flex;

            .footer__logo{
                max-width: 270px;
                height: 150px;
                position: relative;
                @media (min-width: 320px) {
                    margin: auto;
                }
                @media (min-width: 1024px){
                    margin: initial;
                }

                img{
                    position: absolute;
                    right: 35px;
                    }
                .bacground__block{
                    height: 72px;
                    width: 270px;
                    margin-top: 85px;
                    border-radius: 12px;	
                    background-color: #FFFEFC;	
                    box-shadow: 0 6px 24px 0 rgba(54,53,41,0.16);
                }
            }

            .footer__navigation{
                @media (min-width: 320px) {
                    // padding-left: 30px;
                    margin-bottom: 10px;    
                }
                @media (min-width: 414px) {
                    margin: auto;
                    margin-bottom: 20px; 
                    // padding-left: 60px;
                }
                @media (min-width: 1024px){
                    padding-left: 0px;
                    margin-bottom: 20px;
                }
                @media (min-width: 1200px){
                    padding-left: 30px;
                }
                ul{
                    display: flex;
                    flex-flow: column wrap;
                    max-height: 190px;                
                    padding: 0;

                    @media (min-width: 320px) {
                        min-width: 290px;
                        margin: 0;
                        text-align: center;
                    }
                    @media (min-width: 370px) {
                        min-width: 340px;
                    }
                    @media (min-width: 568px) {
                        min-width: 500px;
                    }
                    @media (min-width: 667px) {
                        min-width: 600px;
                    }
                    @media (min-width: 736px) {
                        min-width: 665px;
                    }
                    @media (min-width: 812px) {
                        min-width: 750px;
                    }
                    @media (min-width: 1024px){
                        min-width: 250px;
                    }
                    @media (min-width: 1200px){
                        min-width: 400px;
                        text-align: left;
                    }

                    li{
                        display: block;
                        flex-grow: 1;
                        overflow: hidden;
                        padding-top: 30px;
                    
                        @media (min-width: 320px) {
                            // margin-right: 50px;
                        }
                        @media (min-width: 1024px){
                            margin-right: 0;
                        }
                        @media (min-width: 1366px){
                            margin-right: 50px;
                        }

                        
                        a{
                            font-family: Bodoni;		
                            letter-spacing: 0.8px;
                            line-height: 20px;
                            text-decoration: none;
                            color: #FFF;

                            @media (min-width: 320px) {
                                font-size: 14px;
                            }
                            @media (min-width: 414px) {
                                font-size: 16px;
                            }
                            @media (min-width: 1024px){
                                font-size: 18px;
                            }

                            &:hover,
                            &:focus{
                                color: #FFBD48;
                            }
                        }
                    }
                }
            } 
        }
    }
    .all_rights_reserved{
        background-color: #383636;
        height: 35px;
            p{
                opacity: 0.5;	
                color: #FFFFFF;	
                font-family: Times;	
                font-size: 12px;	
                letter-spacing: 0.86px;	
                line-height: 35px;	
                text-align: center;
            }
    }
}
